@charset "utf-8";
/* CSS Document */
img{
	position:none;
	top:85px;
	left:85px;
	border:1px solid #333;
	padding:2px;
}
div{
	box-sizing:border-box;
}
#container{
	width:960px;
	margin:0 auto;
	background-color: #333;
	border:1px solid #333;
	padding:15px;
	
}
#relative{
	width:100%;
	border: 1px solid #333;
	background-color:red;
	height:300px;
	position:relative;
}

#absolute{
	position:absolute;
	right:0;
	bottom:0;
}
